<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Package Manager</title>
        <script src="{{ static('jquery-2.1.1/jquery.min.js') }}"></script>
        <script src="{{ static('bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
        <link href="{{ static('bootstrap-3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static('font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <select>
            {% for env in envs %}
            <option value="{{ env.name }}" {% if loop.first %}selectect="selected"{% endif %}>
                {{ env.name }} {% if env.default %}*{% endif %}
            </option>
            {% endfor %}
        </select>
        <table class="table">
            <thead>
                <tr>
                    <th>Package</th>
                    <th>Status</th>
                    <th>Dist</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Build</th>
                    <th>Build Number</th>
                    <th>Channel</th>
                    <th>Canonical Channel</th>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody>
                {% for pkg in pkgs %}
                <tr>
                    <td>{{ pkg.package }}</td>
                    <td>{{ pkg.status }}</td>
                    <td>{{ pkg.dist }}</td>
                    <td>{{ pkg.name }}</td>
                    <td>{{ pkg.version }}</td>
                    <td>{{ pkg.build }}</td>
                    <td>{{ pkg.build_number }}</td>
                    <td>{{ pkg.channel }}</td>
                    <td>{{ pkg.canonical_channel }}</td>
                    <td>{{ " ".join(pkg.features) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
