<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Conda UI</title>
        <script data-main="{{ static('conda_ui/conda.js') }}" src="{{ static('require-2.1.14/require.min.js') }}"></script>
        <link href="{{ static('bootstrap-3.1.1/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ static('font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ static('bootstrap-tagsinput-0.3.9/css/bootstrap-tagsinput.css') }}" rel="stylesheet">
        <link href="{{ static('conda_ui/conda.css') }}" rel="stylesheet">
        {% raw %}
        <script type="text/html" id="template-package-table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Version</th>
                <th>Build</th>
                <th>Channel</th>
                <th>Features</th>
              </tr>
            </thead>
            <tbody>
              {{#pkgs}}
              <tr class="{{#update}}info{{/update}}">
                <td><input type="checkbox" on-change="select" data-update="{{#update}}update{{/}}" />{{#update}} <i class="fa fa-arrow-circle-up" title="Update available"></i> {{/update}}</td>
                <td data-package-name="{{name}}" on-click="name-click">{{name}}</td>
                <td>{{version}}</td>
                <td>{{build}}</td>
                <td title="{{channel}}">{{channel}}</td>
                <td>{{& features}}</td>
              </tr>
              {{/pkgs}}
            </tbody>
          </table>
        </script>
        <script type="text/html" id="template-history-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Revision</th>
                <th>Date</th>
                <th>Name</th>
                <th>Removed Version</th>
                <th>Installed Version</th>
              </tr>
            </thead>
            <tbody>
              {{#history}}
              <tr class="{{ style }}">
                <td>{{revision}}</td>
                <td>{{date}}</td>
                <td><i class="fa fa-{{icon}}"></i>&nbsp;{{name}}</td>
                <td>{{& old_version}}</td>
                <td>{{& new_version}}</td>
              </tr>
              {{/}}
            </tbody>
          </table>
        </script>
        <script type="text/html" id="template-settings-dialog">
          <dl class="dl-horizontal">
              <dt>Python Version</dt>
              <dd>{{ info.python_version }}</dd>

              <dt>Platform</dt>
              <dd>{{ info.platform }}</dd>

              <dt>Conda Version</dt>
              <dd>{{ info.conda_version }}</dd>

              <dt>.condarc Path</dt>
              <dd>{{ info.rc_path }}</dd>

              <dt>Root Prefix</dt>
              <dd>{{ info.root_prefix }} {{ #info.root_writable }}(writable) {{ / }}</dd>

              <dt>Default Prefix</dt>
              <dd>{{ info.default_prefix }}</dd>
          </dl>
          
          <p class="muted"><em>Note: some of these settings apply only to the command-line Conda interface.</em></p>
          <p class="alert alert-warning">Changing settings here uses <tt>--force</tt>, which will remove any comments or structure in the configuration file you may have added by hand.</p>
          <form role="form">
              <div class="form-group">
                <label for="setting-channels">Channels</label>
                <input id="setting-channels" value="{{channels.join(',')}}" data-key="channels" type="text" data-role="tagsinput" />
              </div>
              <div class="form-group">
                <label for="setting-create-default-packages">Default Packages</label>
                <input id="setting-create-default-packages" value="{{create_default_packages}}" data-key="create_default_packages" type="text" data-role="tagsinput" />
                <span class="help-block">Packages to install by default when creating a new environment.</span>
              </div>
              <div class="form-group">
                <label for="setting-disallow">Disallowed Names (command line)</label>
                <input id="setting-disallow" value="{{disallow}}" data-key="disallow" type="text" data-role="tagsinput" />
                <span class="help-block">Names disallowed in package specifications.</span>
              </div>
              <div class="form-group">
                <label for="setting-envs-dirs">Environment Directories</label>
                <input id="setting-envs-dirs" value="{{envs_dirs}}" data-key="envs_dirs" type="text" data-role="tagsinput" />
                <span class="help-block">Directories in which environments are located.</span>
                <!-- TODO folder picker - may not be possible in HTML. -->
              </div>
              <div class="form-group">
                <label for="setting-track-features">Track Features</label>
                <input id="setting-track-features" value="{{track_features}}" data-key="track_features" type="text" data-role="tagsinput" />
              </div>
          </form>
          <form role="form" class="form-horizontal">
              <!-- Administrative setting, don't show -->
            <!-- <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-allow-other-channels" data-key="allow_other_channels" type="checkbox" checked="{{#allow_other_channels}}checked{{/}}"> Allow other channels
                  </label>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-allow-softlinks" data-key="allow_softlinks" type="checkbox" checked="{{#allow_softlinks}}checked{{/}}"> Allow softlinks
                  </label>
                  <span class="help-block">Soft-link packages when possible.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-always-yes" data-key="always_yes" type="checkbox" checked="{{#always_yes}}checked{{/}}"> Always Assume Yes (command-line)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-binstar-upload" data-key="binstar_upload" type="checkbox" checked="{{#binstar_upload}}checked{{/}}"> Automatically upload built packages to Binstar
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-changeps1" data-key="changeps1" type="checkbox"  checked="{{#changeps1}}checked{{/}}"> Change prompt when using activate (command line)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-binstar-personal" data-key="binstar_personal" type="checkbox"  checked="{{#binstar_personal}}checked{{/}}"> Do not upload Binstar packages to the public channel
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-show-channel-urls" data-key="show_channel_urls" type="checkbox" checked="{{#show_channel_urls}}checked{{/}}"> Show channel URLs (command line)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-ssl-verify" data-key="ssl_verify" type="checkbox" checked="{{#ssl_verify}}checked{{/}}"> Enable SSL Verification
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input id="setting-use-pip" data-key="use_pip" type="checkbox" checked="{{#use_pip}}checked{{/}}"> Use Pip when listing packages
                  </label>
                </div>
              </div>
            </div>
          </form>

          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseClean">
                              Clean Data
                          </a>
                      </h4>
                  </div>
                  <div id="collapseClean" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p class="muted">Remove unused packages and caches</p>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <div class="checkbox">
                                      <label>
                                          <input id="clean-index-cache" data-flag="indexCache" type="checkbox"> Remove index cache
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <div class="checkbox">
                                      <label>
                                          <input id="clean-lock" data-flag="lock" type="checkbox"> Remove lock files
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <div class="checkbox">
                                      <label>
                                          <input id="clean-packages" data-flag="packages" type="checkbox"> Remove unused cached packages
                                      </label>
                                      <span class="help-block">(Warning: this does not check for symlinked packages)</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <div class="checkbox">
                                      <label>
                                          <input id="clean-tarballs" data-flag="tarballs" type="checkbox"> Remove package tarballs
                                      </label>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <button class="btn btn-primary clean" on-click="clean">Clean</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </script>
        </script>
        {% endraw %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Conda</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
                <form class="navbar-form navbar-left" id="envs">
                </form>
                <form class="navbar-form navbar-left" id="search">
                </form>
                <button type="button" class="btn btn-default navbar-btn navbar-right" id="settings">
                    <i class="fa fa-gears"></i> Settings
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active" id="tab-installed"><a href="#installed" data-toggle="tab">Installed <span class="badge">0</span></a></li>
            <li id="tab-pkgs"><a href="#pkgs" data-toggle="tab">Available Packages <span class="badge">0</span></a></li>
            <li><a href="#history" data-toggle="tab">History</a></li>
        </ul>
        <div class="tab-content" id="main-tabs">
            <div class="tab-pane active" id="installed"></div>
            <div class="tab-pane" id="pkgs"></div>
            <div class="tab-pane" id="history"></div>
        </div>
        <div class="panel panel-default contextual-bar" id="package-actions">
          <div class="panel-body">
            <div class="pull-left">
            <div class="btn-group">
              <button type="button" class="btn btn-success install">Install</button>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info update">Update</button>
              <button type="button" class="btn btn-danger uninstall">Uninstall</button>
            </div>
            <span>(<span class="number-checked">6</span>) checked packages (<span class="checked-names"></span>)</span>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default uncheck-all">Uncheck All &times;</button>
            </div>
          </div>
        </div>
    </body>
</html>
